<nav class="navbar navbar-light bg-dark">
    <!-- essa classe do bootstrap alinha link a esquerda da nav bar -->
    <a class="navbar-brand" href="/"> 
        <img src="/img/UNREAL LIMPO.png" alt="imagem">
    </a>
</nav>